body{
    margin: 0;
    padding: 0;
    background: url(imagem04.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;  
    padding: 70px 30px;
    border-radius: 25px;
}

.avatar{
    width: 110px;
    height: 110px;
    border-radius: 60%;
    position: absolute;
    top: -60px;
    left: calc(83% - 50%);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login input{
    width: 100%;
    margin-bottom: 20px;
}

.login input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #EA3D5C;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.login input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
}

.login a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: darkgrey;
}

.login a:hover{
    color: #ffc107;
}











