body{
    margin: 0;
    padding: 0;
    background: url(imagem02.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}

.login{
    width: 320px;
    height: 420px;
    background: #000;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;  
    padding: 70px 30px;
}

.avatar{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50%);
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}